$color-main-dark: #101920;
$color-main-light: #fff;
$color-main-contrast: #f49a2c;
$color-main-contrast2: #F6F9FB;

$font-family-main: 'Poppins', sans-serif;

$size-header-height: 100px;
$size-footer-height: 120px;
